version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "3000:3000"  # теперь и внутри, и снаружи — 3000
    environment:
      - VITE_API_BASE_URL=https://backend-api.sberhubproject.ru
    restart: unless-stopped
    networks:
      - frontend-network

networks:
  frontend-network:
    driver: bridge